<!DOCTYPE html>
<html lang="es">
<%- include ("../partials/head", {css:"/css/carga-producto.css" , title:"CARGA PRODUCTO 💾"}) %>
<body>
    <%- include ("../partials/header") %>
    <section>
        <div class="titulo-carga-producto">
            <h1>NUEVO PRODUCTO</h1>
        </div>
        <div class="formulario-carga">
            <form action="/products"  method="POST" enctype="multipart/form-data">
                <div class="errors">
                    <ul></ul>
                </div>
                <div class= "carga-nombre">
                    <label>
                        Nombre:
                    </label>
                    <input type="text" id= "name" name="nombre" placeholder="Indicar nombre" value="<%= locals.oldData ? oldData.nombre: null %>">
                    <% if (locals.errors && errors.nombre) { %>
                        <p class="error"> <%= errors.nombre.msg %>  </p>
                    <% } %>
                </div>
                <div class= "carga-marca">
                    <label>
                        Marca:
                    </label>
                    <select name="marca" id="marca" required >
                        <option value="" disabled selected>- Seleccione Marca - </option>
                        <% for( let i = 0; i < marcas.length; i++ ) { %>
                            <option value="<%= marcas[i].idmarca %>"><%= marcas[i].nombre %></option>
                        <% } %>
                    </select>
                </div>
                <div class= "carga-marca">
                    <label>
                        Estilo:
                    </label>
                    <select name="sabor" id="sabor" required>
                        <option value="" disabled selected>- Seleccione estilo - </option>
                        <% for( let i = 0; i < tipos.length; i++ ) { %>
                            <option value="<%= tipos[i].idtipo %>"><%= tipos[i].sabor %></option>
                        <% } %>
                    </select>
                </div>
                <div class="carga-descripcion" >
                    <label>
                        Descripción:
                    </label>
                    <textarea class="descripcion-text-area" id = 'descripcion' name="descripcion" placeholder="Escriba una breve descripción"><%= locals.oldData ? oldData.descripcion: null %></textarea>
                    <% if (locals.errors && errors.descripcion) { %>
                        <p class="error"> <%= errors.descripcion.msg %>  </p>
                    <% } %>
                </div> 
                <div class= "carga-ABV">
                    <label>
                        ABV(%):
                    </label>
                    <input type="number" id = 'abv' name="abv" placeholder="Indicar ABV(%)" value="<%= locals.oldData ? oldData.abv: null %>">
                </div> 
                <div class= "carga-IBU">
                    <label>
                        IBU:
                    </label>
                    <input type="number"  id = 'ibu' name="ibu" placeholder="Indicar IBU(%)"  value="<%= locals.oldData ? oldData.ibu: null %>">
                </div>
                <div class= "carga-contenido">
                    <label>
                        Contenido (ml):
                    </label>
                    <select name="contenido" id="contenido" required>
                        <option value="" disabled selected>- Seleccione contenido - </option>
                        <% for( let i = 0; i < contenidos.length; i++ ) { %>
                            <option value="<%= contenidos[i].idcontenido %>"><%= contenidos[i].contenido %></option>
                        <% } %>
                    </select>
                </div>     
                <div class= "carga-precio">
                    <label>
                        Precio:
                    </label>
                    <input type="number" id= 'precio'name="precio" placeholder="Indicar precio" value="<%= locals.oldData ? oldData.precio: null %>">
                </div>
                <div class= "carga-descuento">
                    <label>
                        Descuento:
                    </label>
                    <input type="number" name="descuento" placeholder="Indicar descuento" value="<%= locals.oldData ? oldData.descuento: null %>">
                </div>
                <div class= "carga-foto">
                    <label for="foto">
                        Foto:
                    </label>
                    <input type="file" id = "foto" name="foto" placeholder="Indicar imagen" >
                    <% if (locals.errors && errors.foto) { %>
                        <p class="error"> <%= errors.foto.msg %></p>
                    <% } %>
                </div>
                <div class= "carga-stock">
                    <label>
                        Stock:
                    </label>
                    <input type="number" name="stock" placeholder="Indicar stock" value="<%= locals.oldData ? oldData.stock: null %>" >
                </div>
                <div class="botones-agregar-borrar">
                    <div class="agregar">
                        <input type="submit" class="boton-cargar" value="GUARDAR">
                            
                        </input>
                    </div>
                    <div>
                        <a  class="boton-cancelar" href="/admin">
                            CANCELAR
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <script src="/scripts/crearProducto.js"></script>
</body>
</html>