<!DOCTYPE html>
<html lang="es">
<%- include ("../partials/head", {css:"/css/editar.css" , title:"EDITAR PRODUCTO ✂"}) %>
<body>
    <%- include ("../partials/header") %>
    <section>
        <div class="formulario">
    <form action="/products/editarProducto/<%=producto.idProductos%>?_method=PUT"  method="POST" enctype="multipart/form-data">
        <div class="errors">
            <ul></ul>
        </div>
        <div class= "carga-nombre">
            <label>Nombre:</label>
            <input type="text" id="name" name="nombre" value= "<%=producto.nombre%>" >
            <% if (locals.errors && errors.nombre) { %>
                <p class="error"> <%= errors.nombre.msg %>  </p>
            <% } %>
        </div>
        <div class= "carga-marca">
            <label>
                Marca:
            </label>
            <select name="marca" id="marca" >
                <% marcas.forEach(marca => { %>
                <option value="<%= marca.idmarca %>" <% if (marca.idmarca == producto.marcas_idmarca) { %><%= 'selected' %><% }; %>><%= marca.nombre %></option>
                <% }); %>
            </select>
        </div>
        <div class= "carga-marca">
            <label>
                Estilo:
            </label>
            <select name="estilo" id="estilo" >
                <% tipos.forEach(tipo => { %>
                <option value="<%= tipo.idtipo %>" <% if (tipo.idtipo == producto.tipos_idtipo) { %><%= 'selected' %><% }; %>><%= tipo.sabor %></option>
                <% }); %>
            </select>
        </div>
        <div class= "carga-descripcion">
            <label>Descripcion:</label>
            <input type="text" id ="descripcion" name="descripcion" value= "<%=producto.descripcion%>">
            <% if (locals.errors && errors.descripcion) { %>
                <p class="error"><%= errors.descripcion.msg %></p>
            <% } %>
        </div> 
        <div class= "carga-ABV">
            <label>ABV(%):</label>
            <input type="text" name="abv" value="<%=producto.abv%>">
        </div> 
        <div class= "carga-IBU">
            <label>IBU:</label>
            <input type="text" name="ibu" value="<%=producto.ibu%>" >
        </div>
        <div class= "carga-contenido">
            <label>
                Contenido:
            </label>
            <select name="contenido" id="contenido" >
                <% contenido.forEach(contenido => { %>
                <option value="<%= contenido.idcontenido %>" <% if (contenido.idcontenido == producto.contenido_idcontenido) { %><%= 'selected' %><% }; %>><%= contenido.contenido %></option>
                <% }); %>
            </select>
        </div> 
        <div class= "carga-precio">
            <label>Precio:</label>
            <input type="number" name="precio" value="<%=producto.precio%>" >
        </div>
        <div class= "carga-descuento">
            <label>Descuento:</label>
            <input type="number" name="descuento" value="<%=producto.descuento %>">
        </div>
        <div class= "carga-foto">
            <label for = "estoesunid" >Foto:
                <img src="/IMAGENES/productos/<%=producto.foto %>" width="160px"> </img>
            </label>


            <input hidden id="estoesunid" type="file" name="foto" value= "<%=producto.foto %>" >
            <% if (locals.errors && errors.foto) { %>
                <p class="error"> <%= errors.foto.msg %></p>
            <% } %>
        </div>
        


        <div class= "carga-stock">
            <label>Cantidad:</label>
            <input type="number" name="stock" value= "<%=producto.stock %>" >
        </div>


        <div><button type="submit" id="BotonEditar">EDITAR</button>
        </div></div>
    </form></section>
<script src="/scripts/editarProducto.js"></script>
</body>
</html>