<!DOCTYPE html>
<html lang="es">
<%- include ("../partials/head", {css:"/css/editar.css" , title:"EDITAR PRODUCTO ✂"}) %>
<body>
    <%- include ("../partials/header") %>
    <section>
        <div class="formulario">
    <form action="/products/editarProducto/<%=productos.id%>?_method=PUT"  method="POST">
        <div class= "carga-nombre">
            <label>Nombre:</label>
            <input type="text" name="nombre" placeholder= <%=productos.nombre%> required>
        </div>
        <div class= "carga-marca">
                <label>Marca:</label>
                <input type="text" name="marca" placeholder= <%=productos.marca%> required>
            </div> 
            <form action="/producto/CARGA"  method="POST">
        <div class= "carga-nombre">
            <label>Descripcion:</label>
            <input type="text" name="nombre" placeholder= <%=productos.descripcion%> required>
        </div> 
        <div class= "carga-ABV">
            <label>ABV(%):</label>
            <input type="number" name="ABV" placeholder= <%=productos.abv%> required>
        </div> 
        <div class= "carga-IBU">
            <label>IBU(%):</label>
            <input type="number" name="IBU" placeholder= <%=productos.ibu%> required>
        </div>
        <div class= "carga-contenido">
            <label>Contenido (ml):</label>
            <input type="number" name="contenido" placeholder= <%=productos.contenido%> required>
        </div>     
        <div class= "carga-precio">
            <label>Precio:</label>
            <input type="number" name="precio" placeholder=<%=productos.precio%> required>
        </div>
        <div class= "carga-foto">
            <label>Foto:</label>
            <input type="file" name="foto" placeholder= <%=productos.foto%> required>
        </div>
        <div class= "carga-stock">
            <label>Cantidad:</label>
            <input type="number" name="stock" placeholder= <%=productos.stock%> required>
        </div>
        <div><button type="submit" id="BotonEditar">EDITAR</button>
        </div></div>
    </form></section>

</body>
</html>