<!DOCTYPE html>
<html lang="es">
<%- include ("../partials/head", {css:"/css/editar.css" , title:"EDITAR PRODUCTO ✂"}) %>
<body>
    <%- include ("../partials/header") %>
    <section>
        <div class="formulario">
    <form action="/products/editarProducto/<%=encontrado.id%>?_method=PUT"  method="POST" enctype="multipart/form-data">
        <div class= "carga-nombre">
            <label>Nombre:</label>
            <input type="text" name="nombre" value= "<%=encontrado.nombre%>" required>
        </div>
        <div class= "carga-marca">
                <label>Marca:</label>
                <input type="text" name="marca" value= "<%=encontrado.marca%>" required>
            </div> 
            <form action="/producto/CARGA"  method="POST">
        <div class= "carga-descripcion">
            <label>Descripcion:</label>
            <input type="text" name="descripcion" value= "<%=encontrado.descripcion%>" required>
        </div> 
        <div class= "carga-ABV">
            <label>ABV:</label>
            <input type="number" name="abv" value="<%=encontrado.abv%>" required>
        </div> 
        <div class= "carga-IBU">
            <label>IBU(%):</label>
            <input type="number" name="ibu" value="<%=encontrado.ibu%>" required>
        </div>
        <div class= "carga-contenido">
            <label>Contenido (ml):</label>
            <input type="number" name="contenido" value= "<%=encontrado.contenido%>" required>
        </div>     
        <div class= "carga-precio">
            <label>Precio:</label>
            <input type="number" name="precio" value="<%=encontrado.precio%>" required>
        </div>
        <div class= "carga-descuento">
            <label>Descuento:</label>
            <input type="number" name="descuento" value="<%=encontrado.descuento %>" required>
        </div>
        <div class= "carga-foto">
            <label>Foto:</label>
            <input type="file" name="foto" value= "<%=encontrado.foto %>" required>
        </div>
        <div class= "carga-stock">
            <label>Cantidad:</label>
            <input type="number" name="stock" value= "<%=encontrado.stock %>" required >
        </div>
        <div><button type="submit" id="BotonEditar">EDITAR</button>
        </div></div>
    </form></section>

</body>
</html>