<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" href=""></link>
    <title> ☠ MORIR 👽🛸 </title>
</head>
<body>
    <figure>
        <img src="/IMAGENES/otros/epa-logo.png" alt="culosucio">
</figure>
    <h1>Estas seguro de querer borrar esta birra o tomarla??: <%= Producto.nombre %> <%= Producto.marcas.nombre %>, estilo <%= Producto.tipos.sabor %> de <%= Producto.contenido.contenido %> centimetros cubicos?????????¿*_*???</h1>
    <p>
        <form action="/products/borrarProducto/<%= Producto.idProductos %>?_method=DELETE" method="POST">
            <br>
            <p> <button class="botonBorrar" type="submit">GAME OVER</button>
            
            <a  class="botonVolver" href="/products">INSERT COIN</a></p>

        </form>
    </p>
    
</body>

</html>