<!DOCTYPE html>
<html lang="es">
    <%- include ('../partials/head', {css: '../css/product.css', title: 'MIRA ESTA BIRRA ðŸ»'}) %>
<body >
    <%- include ('../partials/header') %>
    <section class="product-container">
        <div class="containerfotoproducto"> 
            <img  src="<%= encontrado.foto %>" alt="foto del producto" class="fotoproducto"/>
            </div>
            <div class="description">
            <h2><%= encontrado.nombre %> - <%= encontrado.marca %></h2>
            <br>        
            <div class="magia"><%= encontrado.descripcion %></div>
            <br>
            <p>ABV: <%= encontrado.abv %>%</p>
            <p>IBU: <%= encontrado.ibu %> </p>
            <p>Contenido: <%= encontrado.contenido  %>(ml)</p>
            <p>Precio: $<%= encontrado.precio * (100 -encontrado.descuento) / 100  %></p>
            <div class="carrito-lata"><a class="linkcarrito" href="/carrito"> AGREGAR AL CARRITO </a></div>
            <form action="/products/<%= encontrado.id %>?_method=delete" method="POST">
            <div class="contenedor-borrar"><button class="boton-borrar" type="submit" > BORRAR PRODUCTO </button></div>
            </form> 
            <div class="contenedor-editar"><a class="boton-editar" href="./<%= encontrado.id %>/editar"> EDITAR PRODUCTO </a></div>
            </div>
    </section>
    <%- include ('../partials/footer') %>
</body>
</html>