<!DOCTYPE html>
<html lang="es">
  <%- include ('partials/head', {css: '/css/admin.css', title:"EPA LA IPA🍻" })
  %>

  <body>
    <%- include ('partials/header') %>

    <h2>Administración de productos</h2>

    <a href="/products/Cargaproducto" class="boton-nuevo-producto"
      >Nuevo producto</a
    >

    <table class="tabla">
      <thead>
        <tr>
          <th>Item</th>
          <th>Foto</th>
          <th>Nombre producto</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% for( let i = 0; i < productos.length; i++ ) { %>
        <tr>
          <td><%= i %></td>
          <td>
            <img
              class="tabla-imagen-producto"
              src="/imagenes/productos/<%=productos[i].foto%>"
              alt="foto-producto"
            />
          </td>
          <td class="ellipsis"><%= productos[i].nombre %></td>
          <td class="tabla-opciones">
            <a href="/products/<%=productos[i].idProductos%>/editar"
              ><i class="fa-solid fa-pencil opcion-editar"></i>
            </a>
            <form action="">
              <a
                class="opcion-borrar-container"
                href="/products/borrarProducto/<%=productos[i].idProductos%>"
                ><i class="fa-solid fa-trash-can opcion-borrar"></i
              ></a>
            </form>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </body>
</html>
