<!DOCTYPE html>
<html lang="es">
  <%- include ('partials/head', {css: '/css/admin.css', title:"EPA LA IPA🍻" })
  %>

  <body>
    <%- include ('partials/header') %>

    <h2>Administración de usuarios</h2>


      <a href="/users/registro"  class="boton-nuevo-producto">Abducción Alienígena </a>

    <table class="tabla">
      <thead>
        <tr>
          <th>Aliens_</th>
          <th>Foto</th>
          <th>Nombre </th>
          <th>Apellido </th>
          <th>email </th>
          <th>ADMIN </th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% for( let i = 0; i < usuarios.length; i++ ) { %>
        <tr>
          <td><%= i +1 %></td>
          <td><img class="tabla-imagen-producto" src="/imagenes/usuarios/<%=usuarios[i].foto%>" alt=""></td>
          <td class="ellipsis"><%= usuarios[i].nombre %></td>
          <td class="ellipsis"><%= usuarios[i].apellido %></td>
          <td class="ellipsis"><%= usuarios[i].email %></td>
          <td class="ellipsis"><%= usuarios[i].isAdmin %></td>
          <td class="tabla-opciones">
            <a href="/products/<%=usuarios[i].id%>/editar"><i class="fa-solid fa-pencil opcion-editar"></i> </a>
            <form  class="opcion-borrar-container" action="">
              <a href=""><i class="fa-solid fa-trash-can opcion-borrar"></i></a>
            </form>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </body>
</html>
