<!DOCTYPE html>
<html lang="es">

<%- include ('partials/head', {css: '/css/stilohome.css', title:"EPA LA IPA ðŸ»" }) %>

<body>
  <%- include ('partials/header') %>

  <div class="musica">
  <audio controls  loop>
    <source src="/musica/01. Flies.mp3" type="audio/mpeg">
    </audio></div>
  <section>
    <div class="calesita"><img src="IMAGENES/estaticas/01020100041.jpg" alt="imagen 1" class="carrousel"></div>
  </section>

  <div class="gifbanner"><img src="IMAGENES/estaticas/b1.gif" alt = banner class="gif1"></div>

  <section class="cinta">

    <div class="titulo-cinta">
      <h1>LAS MAS VENDIDAS:</h1>
    </div>
    
    <div class="latas">

      <% for( let i = 0; i < productos.length; i++ ) { %>
        <% if (productos[i].rating>=7) { %>
          <div class="lata">
            <div class="liquido">
              <div><a href="/products/<%=productos[i].id%>"><img src="/imagenes/productos/<%= productos[i].foto %>"  alt="lata" class="lata-img"></a></div>
              <div><a href="/products/<%=productos[i].id%>">
                  <p class="descripcion"><%= productos[i].nombre %></p>
                </a></div>
              <div>
                <p class="precio">$<%= productos[i].precio %></p>
              </div>
              <div class="carrito-lata"><a class="linkcarrito" href="/carrito"> AGREGAR AL CARRITO </a></div>
            </div>
          </div>
        <% } %>
      <% } %>



    </div>

  </section>
  <div class="titulo-cinta">
  
  <div class="gifbanner"><img src="IMAGENES/estaticas/b2.gif" alt = banner class="gif1"></div>

  <section class="cinta">
    <div class="titulo-cinta">
      <h1>OFERTAS PARA VOS:</h1>
    </div>
    <div class="latas">

      <% for( let i = 0; i < productos.length; i++ ) { %>
        <% if (productos[i].descuento !=0 && productos[i].descuento != undefined) { %>
          <div class="lata">
            <div class="liquido">
              <div class="enoferta"> <a href="/products/<%=productos[i].id%>"><img src="/imagenes/productos/<%= productos[i].foto %>" alt="lata" class="lata-img"></a>
                <div class="globototal"><div class="globodeoferta"><p><%= productos[i].descuento %>%</p>-OFF-</div></div>
              </div>
              <div><a href="/products/<%=productos[i].id%>">
                  <p class="descripcion"><%= productos[i].nombre %></p>
                </a></div>
              <div>
                <p class="precio">$<del><%= productos[i].precio %></del> $<%= productos[i].precio * (100 - productos[i].descuento) / 100 %></p>
              </div>
              <div class="carrito-lata"><a class="linkcarrito" href="/carrito"> AGREGAR AL CARRITO </a></div>
            </div>
          </div>
        <% } %>
      <% } %>

  </section>
  <%- include ('partials/footer') %>

</body>
</html>