<!DOCTYPE html>
<html lang="es">

<%- include ('partials/head', {css: 'css/stilohome.css', title:"LO QUE BUSCASTE ðŸ»ðŸºðŸ»"}) %>

<body>
  <%- include ('partials/header') %>
  <%- include ('partials/busqueda') %>

  <div class="musica">
  <audio controls loop>
    <source src="/musica/01. Flies.mp3" type="audio/mpeg">
    </audio></div>
  
  <div class="gifbanner"><img src="IMAGENES/estaticas/b2.gif" alt = banner class="gif1"></div>

  <section class="cinta">

    <div class="titulo-cinta">
      <h1>TODAS LAS BIRRAS:</h1>
    </div>

    <div class="latas">
      <% for( let i = 0; i < productos.length; i++ ) { %>  
        <div class="lata">
          <div class="liquido">


            <div class="enoferta"> <a href="/products/<%=productos[i].idProductos%>"><img src="/imagenes/productos/<%= productos[i].foto %>" alt="lata" class="lata-img"></a>
              <% if (productos[i].descuento != 0 && productos[i].descuento != undefined ) { %>
               <div class="globototal"><div class="globodeoferta"><p><%= productos[i].descuento %>%</p>-OFF-</div></div>
              <% } %>
              
            </div>
            
            <div><a href="/products/<%=productos[i].idProductos%>">
                <p class="descripcion"><%= productos[i].nombre %></p>
              </a></div>
            <div>
              <p class="precio">$<%= productos[i].precio * (100 - productos[i].descuento) / 100 %></p>
            </div>
            <div class="carrito-lata"><a class="linkcarrito" href="/carrito"> AGREGAR AL CARRITO </a></div>
          </div>
        
        
        
        </div>
      <% } %>

      
    </div>
    </section><%- include ('partials/footer') %>
    </body>