<!DOCTYPE html>
<html lang="es">
    <%- include ('../partials/head', {css: '../css/registro.css' , title: 'Registro'}) %>

<body>
    <%- include ('../partials/header') %>
    <main>
        <div class="formulario-container">
            <Div class="registro">
                <h2>
                    CREA UNA CUENTA
                </h2>
                <form action="/users" method="post" enctype="multipart/form-data">
                    <p>
                        <input type="text" name="nombre" placeholder="Ingresa tu nombre ac치" class="nombre" value="<%= locals.oldData ? oldData.nombre : null %>">
                    </p>
                    <% if (locals.errors && errors.nombre) { %>
                        <p class="error"> <%= errors.nombre.msg %>  </p>
                    <% } %>
                    <p>
                        <input type="text" name="apellido" placeholder="Ingresa tu apellido ac치" class="apellido" value="<%= locals.oldData ? oldData.apellido : null %>">
                    </p>
                    <% if (locals.errors && errors.apellido) { %>
                        <p class="error"> <%= errors.apellido.msg %>  </p>
                    <% } %>
                    <p>
                        <input type="text" name="email" placeholder="Ingresa tu correo ac치" class="correo" value="<%= locals.oldData ? oldData.email: null %>">
                    </p>
                    <% if (locals.errors && errors.email) { %>
                        <p class="error"> <%= errors.email.msg %>  </p>
                    <% } %>
                    <p>
                        <input type="password" name="password"placeholder="Ingresa tu Contrase침a" class="password" >
                    </p>
                    <% if (locals.errors && errors.password) { %>
                        <p class="error"> <%= errors.password.msg %>  </p>
                    <% } %>
                    <p>
                        <input type="password" name="password2"placeholder="Repeti tu Contrase침a" class="password">
                    </p>
                    <% if (locals.errors && errors.password2) { %>
                        <p class="error"> <%= errors.password2.msg %>  </p>
                    <% } %>
                    <p>
                        <input type="text" name="direccion" placeholder="Ingresa tu direccion ac치" class="direccion" value="<%= locals.oldData ? oldData.direccion : null %>">
                    </p>
                    <p>
                        <input type="number" name="cp" placeholder="Ingresa tu CP ac치" class="cp"  value="<%= locals.oldData ? oldData.cp : null %>">
                    </p>
                    <p>
                        <input type="file" name="foto" placeholder="Ingresa tu foto ac치" class="foto">
                    </p>
                    <p id="crear-container">    
                        <label for="soymayor">
                            SOY MAYOR 18 A칌OS
                        </label>
                        <input type="checkbox" name="soymayor" required>
                        <button type="submit" id="crear">CREAR</button>
                    </p>
                </form>
            </Div>
            </form>
                <div class="ir-a-login">
                    <a href="/login">
                        <button>
                            PARA!!! YA TENGO CUENTA 游꽄
                        </button>
                    </a>
                </div> 
    
            </main>
    
<%- include ('../partials/footer') %>

</body>
</html>
